
@font-face {
    font-family : 'CenturyGothicRegular';
    src         : url('../fonts/gothic/gothic-webfont.eot');
    src         : local('☺'), url('../fonts/gothic/gothic-webfont.woff') format('woff'), url('../fonts/gothic/gothic-webfont.ttf') format('truetype'), url('../fonts/gothic/gothic-webfont.svg#webfontn4SoYMey') format('svg');
    
    font-weight : normal;
    font-style  : normal;
}


body {
	font-family        : CenturyGothicRegular, helvetica,arial,freesans,clean,sans-serif;
	font-size          : 15.34px;
	font-size-adjust   : none;
	font-style         : normal;
	font-variant       : normal;
	font-weight        : normal;
	line-height        : normal;
	
	overflow-y : auto !important;
	
	background-color : white;
}


p {
	padding-top        : 15px;
	text-align         : justify;
}

.grayed {
	background-color : #e3e0c7 !important;
}


a {
	text-decoration : none;
	color : #7f7c69;
}


a:hover {
	text-decoration : underline;
}


a:VISITED {
	color : #7f7c69;
}

.ShareBoard-Content {
}


.ShareBoard-Content-Center {
	background-color: white;
	
	padding-bottom : 20px;
}


.ShareBoard-Content-Header {
    font-size           : large;
    line-height         : 100%;
}


.ShareBoard-Content-Footer {
	color          : #AAA;
	padding-top    : 20px;
	
	font-size      : 12px;
}


.ShareBoard-Widget-NotFound {
	text-align     : center;
	
	font-size      : 26px;
	font-weight    : bold;
	
	position       : relative;
}


.ShareBoard-Board {
}


.x-masked {
    overflow        : auto !important;
}





.shb-header {
	margin-top             : 30px;
	background-image       : url(../images/logo.png);
	background-repeat      : no-repeat;
	
	background-position    : center center;
	
	height                 : 100px;
}


.sh-color-indicator {
	width          : 8px;
	height         : 8px;
	
	margin         : 4px;
}